

<!--if not logged in-->
<% if session[:user_id] %>
  <!--<a href="/logout"><button action="/logout" type="button" formmethod="post">Logout</button></a>-->

  <% user = @users_table.find(session[:user_id])["username"] %>

  <h1 class="greeting">Welcome, <%= user %></h1>
  <h2 class="center_text">Users</h2>

  <form action="/" method="get">

    <input type="radio" name="order_names" value="asc" id="asc"><label for="asc">Ascending</label><br>
    <input type="radio" name="order_names" value="desc" id="desc"><label for="desc">Descending</label><br>
    <button type="submit">Submit</button>
  </form>

    <table>
        <tr>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      <% @user_order.each do |user| %>
        <% if user["id"] != session[:user_id] %>
          <tr>
            <td><a href="/friend/<%= user["id"] %>"><%= user["username"]%></a></td>
            <td><a href="/delete_user/<%= user["id"]%>">Delete <%= user["username"]%></a></td>
          </tr>
        <% end %>
      <% end %>
    </table>


  <h2 class="center_text">My Fish</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% @fish_table.select_all.each do |fish| %>
      <% if fish["user_id"] == session[:user_id] %>
    <tr>
      <td><%= fish['fish_name'] %></td>
      <td><a href="<%= fish['fish_wiki'] %>">Wikipedia</a></td>
    </tr>
      <% end %>
      <% end %>
  </table>

  <br>
  <form action="/fish" method="get">
    <button id="fish_button">Create Fish</button>
  </form>

  <form action="/logout" method="post">
    <button id ="log_button">Logout</button>
  </form>

  <!--<form action="/login" method="post"><button type="submit">Sort</button></form>-->
<% else %>

  <span style="color: greenyellow"><%= flash[:notice] %></span>
  <span class="error_flash"><%= flash[:error_flash] %></span>
  <form method="get" action="/registration">
    <button id="register">Register</button>
  </form>
  <h2 class=" center_text">OR</h2>


  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input class="input_field" type="text" name="username" id="username">
    <br>
    <label for="password">Password:</label>
    <input class="input_field" type="password" name="password" id="password">
    <button id ="log_button"  type="submit">Login</button>
  </form>



<% end %>



