<head>
  <link rel="stylesheet" type="text/css" href="homepage.css">
</head>

<!--if not logged in-->
<% if session[:user_id] %>
  <!--<a href="/logout"><button action="/logout" type="button" formmethod="post">Logout</button></a>-->
  <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>
  <h2>Current Users</h2>
  <h4>sort</h4>

  <form action="/" method="get">
    <input type="radio" name="order_names" value="asc">Ascending<br>
    <input type="radio" name="order_names" value="desc">Descending<br>
    <button type="submit">Submit</button>
  </form>




  <% if @suffix != nil %>
  <ul>
    <% p "Hello"%>
    <% @database_connection.sql(@other_users + @suffix).each do |user| %>
      <% if user["id"] != session[:user_id] %>
        <li><a href="<%= user["id"] %>"><%= user["username"] %></a></li>

      <% end %>
    <% end %>
  </ul>
  <% else %>
    <ul>
      <% @database_connection.sql(@other_users).each do |user| %>
        <% if user["id"] != session[:user_id] %>
          <li><a href="<%= user["id"] %>"><%= user["username"] %></a></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <br>
  <form action="/delete" method="post">
    <input name="name" value="Enter user to delete">
    <button type="submit">Submit</button>
  </form>


  <dl>
    <% @database_connection.sql("select * from fish").each do |fish| %>
      <% if fish["user_id"] == session[:user_id] %>
    <dt><%= fish['fish_name'] %></dt>
      <dd><a href="<%= fish['fish_wiki'] %>"><%= fish['fish_wiki'] %></a></dd>
    <% end %>
      <% end %>
  </dl>

  <br>
  <form action="/fish" method="post">
    <input name="name" value="Enter fish name">
    <input name="wiki" value="Enter fish's wiki page'">
    <button type="submit">Submit</button>
  </form>



  <!--<form action="/login" method="post"><button type="submit">Sort</button></form>-->
<% else %>
  <a href="/registration">Registration</a>

  <form action="/login" method="post">
    username <input type="text" name="username">
    password <input type="password" name="password">
    <button type="submit">Login</button>
  </form>



<% end %>



